{{ 'multilist-css.css' | asset_url | stylesheet_tag }}

<section class="accordion-section accordian-multilist-sec">
  <div class="grid-container">
    <ul class="accordion foundation-accordion" data-accordion="54gssn-accordion" data-allow-all-closed="true">
      <li class="accordion-item" data-accordion-item="" data-block-id="">
        <a
          href="#"
          class="accordion-title"
          aria-controls="ylpiy9-accordion"
          id="ylpiy9-accordion-label"
          aria-expanded="false"
          >Orders &amp; Shipping</a
        >
        <div
          class="rte accordion-content"
          data-tab-content=""
          role="region"
          aria-labelledby="ylpiy9-accordion-label"
          aria-hidden="true"
          id="ylpiy9-accordion"
        >
          <div class="faq-container">
            <div class="faq">
              <button class="faq-toggle">
                <h3 class="faq-title">
                  <span class="faq-title-span">How Long Does Shipping Take? </span>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
                    <path d="m48.707 13.853-1.414-1.413L25 34.732 2.707 12.44l-1.414 1.413L25 37.56z"></path>
                  </svg>
                </h3>
                <p class="faq-text">
                  Due to the volume of orders — please allow our team up to 24hrs after an order is placed to process
                  and prepare shipment. All orders will be shipped via FedEx 2-day Express.
                </p>
              </button>
            </div>

            <div class="faq">
              <button class="faq-toggle">
                <h3 class="faq-title">
                  <span class="faq-title-span"> How Much Does Shipping Cost? </span>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
                    <path d="m48.707 13.853-1.414-1.413L25 34.732 2.707 12.44l-1.414 1.413L25 37.56z"></path>
                  </svg>
                </h3>
                <p class="faq-text">
                  Shipping is free for all orders over $100. Any order below $100 will include a shipping &amp; handling
                  fee of $18.95.
                </p>
              </button>
            </div>

            <div class="faq">
              <button class="faq-toggle">
                <h3 class="faq-title">
                  <span class="faq-title-span"> How Do I Check My Order Status? </span>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
                    <path d="m48.707 13.853-1.414-1.413L25 34.732 2.707 12.44l-1.414 1.413L25 37.56z"></path>
                  </svg>
                </h3>
                <p class="faq-text">
                  As soon as an order is placed you will receive an email confirmation and will continue to receive
                  email updates with tracking and delivery updates.
                </p>
              </button>
            </div>

            <div class="faq">
              <button class="faq-toggle">
                <h3 class="faq-title">
                  <span class="faq-title-span">
                    My Order Says “delivered” But I Never Received It. What Should I Do?
                  </span>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
                    <path d="m48.707 13.853-1.414-1.413L25 34.732 2.707 12.44l-1.414 1.413L25 37.56z"></path>
                  </svg>
                </h3>
                <p class="faq-text">
                  Based on your location and pre-set preferences with the delivery courier, your order may be delivered
                  to your building doorman, concierge, mailroom, or even at times, a neighbor of whom may accept the
                  package in your absence. Please be sure to check with these individuals first. If you still do not
                  have your package 24 hours after the delivery has occurred, please contact our Support Team at
                  <a href="mailto:hello@yellowlabel.co">hello@yellowlabel.co</a> and we will investigate the issue
                  further.
                </p>
              </button>
            </div>

            <div class="faq">
              <button class="faq-toggle">
                <h3 class="faq-title">
                  <span class="faq-title-span"> Can I Cancel Or Edit My Order? </span>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
                    <path d="m48.707 13.853-1.414-1.413L25 34.732 2.707 12.44l-1.414 1.413L25 37.56z"></path>
                  </svg>
                </h3>
                <p class="faq-text">
                  We are unable to cancel or edit orders after they are placed. Once an order is placed our 3rd party
                  fulfillment team begins pick / packing and it’s too late to interrupt the process.
                </p>
              </button>
            </div>

            <div class="faq">
              <button class="faq-toggle">
                <h3 class="faq-title">
                  <span class="faq-title-span"> Do You Ship Internationally ? </span>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
                    <path d="m48.707 13.853-1.414-1.413L25 34.732 2.707 12.44l-1.414 1.413L25 37.56z"></path>
                  </svg>
                </h3>
                <p class="faq-text">
                  We offer international shipping to most destinations worldwide. At checkout you will be able to select
                  your delivery address to see if we ship and it will calculate the shipping price directly with UPS
                  international. In addition to shipping price we are not responsible for customs, VAT &amp; duties. If
                  shipping internationally – be sure to message our team and we will do something special to make it
                  worth the shipping cost.
                </p>
              </button>
            </div>

            <div class="faq">
              <button class="faq-toggle">
                <h3 class="faq-title">
                  <span class="faq-title-span"> I Forgot To Add My Discount Code, Can I Add It After? </span>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
                    <path d="m48.707 13.853-1.414-1.413L25 34.732 2.707 12.44l-1.414 1.413L25 37.56z"></path>
                  </svg>
                </h3>
                <p class="faq-text">
                  We do not have the ability to retroactively apply the discount code once an order is placed. You can
                  use the code on any future orders.
                </p>
              </button>
            </div>

            <div class="faq">
              <button class="faq-toggle">
                <h3 class="faq-title">
                  <span class="faq-title-span"> What Payment Methods Do You Accept? </span>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
                    <path d="m48.707 13.853-1.414-1.413L25 34.732 2.707 12.44l-1.414 1.413L25 37.56z"></path>
                  </svg>
                </h3>
                <p class="faq-text">
                  We accept all major credit cards including Visa, Mastercard, American Express. As well as payment via
                  Shoppay installments, Apple Pay, and PayPal.
                </p>
              </button>
            </div>
          </div>
        </div>
      </li>

      <li class="accordion-item" data-accordion-item="" data-block-id="">
        <a
          href="#"
          class="accordion-title"
          aria-controls="w7tsbu-accordion"
          id="w7tsbu-accordion-label"
          aria-expanded="false"
          >Returns &amp; Exchanges</a
        >
        <div
          class="rte accordion-content"
          data-tab-content=""
          role="region"
          aria-labelledby="w7tsbu-accordion-label"
          aria-hidden="true"
          id="w7tsbu-accordion"
        >
          <div class="faq-container">
            <div class="faq">
              <button class="faq-toggle">
                <h3 class="faq-title">
                  <span class="faq-title-span">What Is The Return Policy?</span>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
                    <path d="m48.707 13.853-1.414-1.413L25 34.732 2.707 12.44l-1.414 1.413L25 37.56z"></path>
                  </svg>
                </h3>
                <p class="faq-text">
                  All pieces are brand new out of the package — no returns or exchanges and all sales are final.
                </p>
              </button>
            </div>

            <div class="faq">
              <button class="faq-toggle">
                <h3 class="faq-title">
                  <span class="faq-title-span">What Is The EU / UK Return Policy?</span>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
                    <path d="m48.707 13.853-1.414-1.413L25 34.732 2.707 12.44l-1.414 1.413L25 37.56z"></path>
                  </svg>
                </h3>
                <p class="faq-text">
                  All pieces are brand new out of the package — no returns or exchanges and all sales are final.
                </p>
              </button>
            </div>
          </div>
        </div>
      </li>

      <li class="accordion-item" data-accordion-item="" data-block-id="">
        <a
          href="#"
          class="accordion-title"
          aria-controls="lowns1-accordion"
          id="lowns1-accordion-label"
          aria-expanded="false"
        >
          FAQ
        </a>
        <div
          class="rte accordion-content"
          data-tab-content=""
          role="region"
          aria-labelledby="lowns1-accordion-label"
          aria-hidden="true"
          id="lowns1-accordion"
        >
          <div class="faq-container">
            <div class="faq">
              <button class="faq-toggle">
                <h3 class="faq-title">
                  <span class="faq-title-span"> Where Is Yellow Label Co. Made? </span>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
                    <path d="m48.707 13.853-1.414-1.413L25 34.732 2.707 12.44l-1.414 1.413L25 37.56z"></path>
                  </svg>
                </h3>
                <p class="faq-text">
                  Yellow Label Co. is designed in New York City and handcrafted from scratch in Los Angeles.
                </p>
              </button>
            </div>

            <div class="faq">
              <button class="faq-toggle">
                <h3 class="faq-title">
                  <span class="faq-title-span"> How Can I Find Out About Upcoming Style Releases? </span>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
                    <path d="m48.707 13.853-1.414-1.413L25 34.732 2.707 12.44l-1.414 1.413L25 37.56z"></path>
                  </svg>
                </h3>
                <p class="faq-text">
                  Stay up to date with our new releases and drops via subscribing to our emails and following us on
                  instagram at @yellowlabelco.
                </p>
              </button>
            </div>

            <div class="faq">
              <button class="faq-toggle">
                <h3 class="faq-title">
                  <span class="faq-title-span"> How Do I Know My Size? </span>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
                    <path d="m48.707 13.853-1.414-1.413L25 34.732 2.707 12.44l-1.414 1.413L25 37.56z"></path>
                  </svg>
                </h3>
                <p class="faq-text">
                  To best gauge your appropriate size, please refer to the sizing chart for the particular item you’re
                  interested in. Any other questions please e-mail
                  <a href="mailto:hello@yellowlabel.co">hello@yellowlabel.co</a>hello@yellowlabel.co
                </p>
              </button>
            </div>

            <div class="faq">
              <button class="faq-toggle">
                <h3 class="faq-title">
                  <span class="faq-title-span"> DO THE GARMENTS BLEED? </span>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
                    <path d="m48.707 13.853-1.414-1.413L25 34.732 2.707 12.44l-1.414 1.413L25 37.56z"></path>
                  </svg>
                </h3>
                <p class="faq-text">Wash the garments alone for the first wash due to color bleeding.</p>
              </button>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>

<script>
   $(document).ready(function() {
     $(".accordion-title").click(function() {
       $(this).next().toggleClass("active");
       $(this).toggleClass("is-active");
     });

  $(".faq-toggle").click(function() {
     $(this).find(".faq-text").toggleClass("active");
   });
   });
</script>

{% schema %}
{
  "name": "Multilist Accordion",
  "class": "index-section",
  "settings": [],
  "blocks": [
    {
      "name": "Accordion Item",
      "type": "text"

    }
  ],
    "presets": [
      {
        "name": "Multilist Accordion",
        "category": "Text",
        "blocks": [
          {
            "type": "text"
          },
          {
            "type": "text"
          },
          {
            "type": "text"
          }
        ]
      }
    ]
}
{% endschema %}
